<a href="https://colab.research.google.com/github/vaishu4321/Python/blob/main/Looping_OR_Iterative_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Looping OR Iterative Statements


=>The purpose of Looping OR Iterative OR Repetative Statements is that
"Performing Certain Operation Repeatedly for finite Number of Times Until Condition Becomes false".
=>In Python Programming, we have 2 types of Looping Statements. They are

			1. while loop

			2. for loop

# while loop

while loop, we can execute a set of statements as long as a condition is true.

syntax
#intialization

while cond:
    #block of statements
    #updation

In [ ]:
#1. intialization
#2. condition
#3. updation


#print from 1 to 5

i = 1 #intialization

while i < 6:      #1<6  t   2<6
    print(i)      # 1
    i += 1       # i=i+1 or i+=1    #updation part

In [ ]:
6 < 6

In [ ]:
#print from 6 to 1

i = 6

while i > 0:    # 0 < 0 F
    print(i)
    i -= 1

#else:
    #print("i is no longer less than 6")

In [ ]:
# real time example


correct_password = "secret"
password = ""


while correct_password != password:   # true
    password = input("enter the password: ")
    if correct_password == password:
        print("access Greated")
    else:
        print("Try again")

In [ ]:
# real time example


correct_password = "secert"
attempt = 0
max_attempt = 3


while attempt < max_attempt:   # true
    password = input("enter the password: ")
    if correct_password == password:
        print("Login successfull")
        break
    else:
        attempt += 1
        print("Password is incorrect Try again attempt left", max_attempt - attempt)
else:
    print("Account Locked, Try again after 2 hours")

correct_password = "secert"
#password = None


while True:
    password = input("enter the password: ")
    if correct_password == password:
        print("access Greated")
        break
    else:
        print("Try again")
        break

In [ ]:
## real time example

# ATM balance
account_balance = 1000


while account_balance > 100:
    withdrwal = int(input("enter the amount you want to withdraw in 100, 200, 500: "))
    if withdrwal > account_balance:
        print("infusistent fund")
        break
    else:
        account_balance -= withdrwal
        print("withdrawn amount: ", withdrwal)
        print("Remaining balance : ", account_balance)
        break


#print("no funds")

In [ ]:
account_balance = 10000


while True:
    withdrwal = int(input("enter the amount in 100, 200, 500: "))


    if withdrwal%100!=0:
        print("Not multiple of 100")
    elif withdrwal > account_balance:
        print("infusistent fund ")
        break
    else:
        account_balance -= withdrwal
        print("withdrawn amount: ", withdrwal)
        print("Remaining balance : ", account_balance)
        break


#print("no funds")

In [ ]:
withdrwal = int(input("enter the amount in 100, 200, 500: "))


if 100 != withdrwal:
    print("enter other number")
else:
    print("withdrawn")

# for loop

A for loop is used for iterating over a sequence (that is either a
list, a tuple, a dictionary, a set, or a string).

In [ ]:
list1 = [1,2,3,4,5,6]

tuple1 = (2,4,5,6,7,7)

set1 = {1,2,34,56,77}

#print(l,type(l))

In [ ]:
for i in list1:
    print(i)

In [ ]:
for v in tuple1:
    print(v)

In [ ]:
#Loop through the letters in the word "banana":

for x in "banana":
    print(x)

In [ ]:
for i in range(1,20,2):
    print(i)

In [ ]:
# deleting mutiple values at a time

fruits = ["apple", "banana", "cherry", "orange","grapes","kiwi"]
delete = ["cherry", "orange","kiwi"]


for x in delete:
    fruits.remove(x)
    print(x)

print(fruits)

In [ ]:
fruits = ["apple", "banana", "cherry", "orange","grapes","kiwi"]

fruits.remove("cherry")
fruits.remove("orange")
fruits.remove("kiwi")

print(fruits)

In [ ]:
# Adding mutiple values

fruits = ["apple", "banana", "cherry", "orange","grapes","kiwi"]
add = ["cherry", "orange"]


for x in add:
    fruits.append(x)

print(fruits)

In [ ]:
fruits = ["apple", "banana", "cherry", "orange","grapes","kiwi"]

fruits.append("cherry")
fruits.append("orange")

In [ ]:
# print even number from 2 to 50 using for loop

# even no
for i in range(2,51,2):
    print(i)

In [ ]:
#odd no
for i in range(1,51,2):
    print(i)

In [ ]:
# second method

for i in range(1,51):
    if i%2 == 0:
        print(i)

In [ ]:
11%2

In [ ]:
for i in range(10):
    print(i)

# Nested for loop

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

for i in l:           #outer loop
    for j in k:       #inner loop
        print()

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

In [ ]:
#red apple

red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:

for x in adj:              #x=red,big   outer execute 1 time
    for y in fruits:       #y=apple,banana, cherry      inner execute 4 times
        print(x, y)         #red apple red banana red cheery

In [ ]:
# gussing game

import random

target = random.randint(1,100)
guess = 0
attempt = 0

while guess != target:
    guess = int(input("enter the number between 1 to 100: "))
    attempt +=1


    if guess > target:
        print("try with lower number")
    elif guess < target:
        print("try with larger number")
    else:
        print("You guessed correctly")
        print("total attempt taken : " ,attempt)

enter the number between 1 to 100:  50

try with larger number

enter the number between 1 to 100:  75

try with larger number

enter the number between 1 to 100:  90

You guessed correctly
total attempt taken :  3

In [ ]:
import random

target = random.randint(1,100)
#guess = 0
attempt = 0


while True:
    guess = int(input("enter the number between 1 to 100: "))
   # print(target)
    attempt += 1

    if guess > target:
        print("try with lower number")
    elif guess < target:
        print("try with larger number")
    else:
        print("You guessed correctly")
        print("Total Attempt Taken :- ", attempt)
        break

In [ ]:
import random

target = random.randint(1,100)

print(target)

18

# break statement

 It terminates the current loop, i.e.,
 the loop in which it appears, and resumes execution at the next statement
 immediately after the end of that loop.

In [ ]:
i = 1

while i < 6:  #i=4
    if i == 4:   #4==4
        print("This is my break statement")
        break
    print(i)
    i +=1

In [ ]:
for i in range(2,51,2):
    print(i)
    if i == 10:
        break

# The continue Statement

continue statement, we can stop the current iteration of the loop, and continue with the next:

In [ ]:
i = 1

while i < 6:
    i += 1
    if i ==3:
        continue
    print(i)

In [ ]:
fruits = ("apple", "banana", "cherry", "orange","grapes","kiwi")

for x in fruits:
    if x == "grapes":
        continue
    print("Fruits name :",x)

In [ ]:

#pass

fruits = ("apple", "banana", "cherry", "orange","grapes","kiwi")

for x in fruits:
    #print(x)
    pass

#for y in range(12):
    #print(y)

In [ ]:

# factorial

fact = 1
num = int(input(" Enter the Number: "))

while num > 0:
    fact = fact * num   #2
    num -= 1            #1

print(fact)

In [ ]:
5*4*3*2*1

In [ ]:
1. Write a Python program that prints all even numbers from 1 to 20 using a for loop.

In [ ]:
2. Calculate the sum of all numbers from 1 to 100 using a for loop.

In [ ]:
3. Write a Python program to find the sum of all even numbers from 1 to 100 using a for loop.

In [ ]:
4. Create a program that prints the multiplication table of a given number using a for loop.

sample output :- 15 X 1 = 15

In [ ]:
num = int(input("enter the number:- "))

for i in range(1,11):
    print(num," X ", i, "=", num * i)

In [ ]:
sum = 0
for i in range(1,100):
    sum +=i

print(f"sum of all numbers from 1 to 100 is : {sum}")

In [ ]:

sum = 0

for i in range(2,101,2):

    sum += i

print(f"sum of all even numbers from 1 to 100 is : {sum}")

In [ ]:
sum=0
for i in range(0,20,2):
    sum+=i

print(sum)

In [ ]:
sum=0
for i in range(1,100,1):
    sum+=i
print(f"The sum of all the numbers :{sum}")

In [ ]:
n = 10
num1 = 0
num2 = 1
next_number = num2
count = 1

while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()